html, body {
  font-family: 'Lato', sans-serif !important;
  color: #565656 !important;
  overflow-x: hidden;

  #app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .page-wrapper {
    flex: 1;
  }

  header {
    .row {
      min-height: 15vh;

      .col-sm-4 {
        background: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
          background: coral;
        }

        &:last-child {
          background: cadetblue;
        }
      }
    }
  }

  .filters {
    background: #f2f2f2;
  }

  .card {

    .thumb-image {
      max-height: 195px;
      overflow: hidden;
      position: relative;

      img {
        -webkit-transition: .25s;
        -moz-transition: .25s;
        -ms-transition: .25s;
        -o-transition: .25s;
        transition: .25s;
      }
    }

    .play {
      border: 30px transparent solid;
      border-left-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -30px;
      margin-left: -20px;
      cursor: pointer;
    }

    &:hover .thumb-image img {
      transform: scale(1.025);
    }
  }

  footer {
    background-color: coral;
    color: #fff;
  }
}

@media screen and (max-width: 1199px) {
  .thumb-image {
    max-height: 160px !important;
  }
}


@media screen and (max-width: 991px) {
  .thumb-image {
    max-height: 117px !important;
  }
}

@media screen and (max-width: 767px) {
  .thumb-image {
    max-height: 133px;
  }
}